body {
  margin: 0px;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}

header {
  display: inline-flex;
  justify-content: center;
  background-color: #da291c;
  color: #ffffff;
  height: 72px;
  width: 100%;
}

hr {
  background-color: #d8d8d8;
  margin-top: 48px;
  margin-bottom: 48px;
}

.vr {
  border-left: 1px solid #d8d8d8;
  height: 59px;
  display: inline-block;
}

.menu {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.menu > a {
  width: 200px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  padding-right: 26px;
  padding-top: 22px;
  padding-left: 36px;
}

.menu > a:hover {
  color: #ffffff;
  border-top: 7px solid #fff;
}

.menu-burger {
  display: none;
}

.logo {
  padding-left: 19px;
}


h2 {
  font-size: 36px;
  text-align: center;
  color: #323237;
  line-height: 40px;
}

h3 {
  font-size: 14px;
  text-align: center;
}

.labels {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  margin-left: -78px;
}

.labels > label {
  display: inline-block;
  text-align: left;
}
/*radio*/

.eep {
  display: inline-block;
  text-align: left;
  padding-left: 80px;
}

#radios {
  display: inline-flex;
  background-color: #96172e;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #323237;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 3px solid #96172e;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #96172e;
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

label {
  font-size: 16px;
}

footer {
  width: 100%;
  display: inline-flex;
  background-color: #fafafa;
  min-height: 809px;
  justify-content: center;
  border-top: 1px solid #d8d8d8;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #323237;
}

button {
  border-radius: 5px;
  background-color: #da291c;
  line-height: 30px;
}

select {
  border: none;
  border-bottom: 1px solid #979797;
  padding: 2px;
  margin-top: -4px;
}

.codigo-promo {
  margin-top: 22px;
  display: inline-flex;
  align-items: center;
}
.codigo-promo > a {
  color: #96172e;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: underline;
}

.codigo-promo > p:nth-child(3) {
  color: #96172e;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: underline;
}

.codigo-promo > img {
  width: 22px;
  height: 22px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: underline;
  margin-right: 4px;
}

.container-header {
  width: 90%;
  display: inline-flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.splash {
  width: 100%;
  background-color: blue;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}

.splash > img {
  width: 100%;
}

.container-splash {
  width: 488px;
  height: 294px;
  background: rgba(0, 0, 0, 0.28);
  position: absolute;
  margin-right: 120px;
}

.container-splash-caption {
  position: absolute;
  max-width: 488px;
  display: inline-block;
  height: 294px;
  color: #ffffff;
  margin-top: -41px;
}

.container-splash-caption > p {
  font-weight: 900;
  font-size: 48px;
  line-height: 52px;
  display: block;
  padding-left: 41px;
}

.container-splash-caption > p:nth-child(2) {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-top: -20px;
  padding-left: 41px;
}

.caption-cta {
  display: block;
  text-align: left;
  margin-left: 44px;
}

.section-1 {
  width: 100%;
  display: inline-block;
  margin-top: -40px;
}

.section-2 {
  margin-top: 88px;
  margin-bottom: 88px;
  width: 100%;
}

.section-3,
.section-4 {
  width: 100%;
}

.container-recomendaciones,
.container-cards,
.container-acceso,
.container-cuenta,
.section-1,
.section-2,
.section-3,
.section-4 {
  justify-content: center;
  text-align: center;
  display: inline-block;
}

.container-field {
  width: auto;
  height: 480px;
  display: inline-block;
  padding-bottom: 58px;
  background-color: #ffffff;
  border: 1px solid #e2e8ee;
}

.field {
  margin-right: 0px;
  max-width: 962px;
  display: inline-block;
  background-color: #ffffff;
  padding: 46px;
  padding-right: 0px;
}

.boton-cta-compra {
  display: flex;
  justify-content: end;
  margin-top: 44px;
  padding-right: 110px;
}

.field > h1 {
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
}

.container-recomendaciones {
  width: 90%;
  padding-bottom: 56px;
}

.container-recomendaciones > a {
  color: #96172e;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: underline;
}

.container-recomendaciones > a:last-child {
  padding-left: 15px;
}

.container-acceso {
  width: 90%;
  height: 408px;
}

/*section 4 */
.container-cuenta {
  width: 90%;
  height: auto;
}

.cuenta-recuadros {
  display: inline-block;
  border: 1px solid #e2e8ee;
  border-radius: 3px;
  text-align: left;
}

.cuenta-recuadros:nth-child(2) {
  margin-right: 61px;
  margin-bottom: 32px;
}

.cuenta-recuadros > h3 {
  padding: 32 32;
  text-align: start;
}

.cuenta-recuadros > p {
  padding-left: 32px;
  padding-right: 42px;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}

.cuenta-recuadro-grande {
  width: auto;

  display: inline-block;
  border: 1px solid #e2e8ee;
  border-radius: 3px;
  margin-bottom: 127px;
  text-align: left;
}

.cuenta-recuadro-grande > h3 {
  font-size: 22px;
  padding: 32 0 0 32;
  text-align: start;
  line-height: 30px;
}

.cuenta-recuadro-grande > p {
  padding: 19px;
  text-align: left;
  padding-left: 24px;
}

.boton-restricciones {
  width: 267px;
  height: 44px;
  font-size: 14px;
  color: #323237;
  border: 2px solid #323237;
  background-color: #ffffff;
  border-radius: 5px;
  line-height: 30px;
  font-weight: 700;
  margin: 16 32 32 32;
}

.boton-restricciones:hover {
  color: #2a2a31;
}

.container-cards {
  height: 439px;
  display: inline-block;
  justify-content: space-between;
}

.field-columnas-1 {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.field-columnas-2 {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.inputs-containers {
  width: 219px;
  height: 64px;
  display: inline-block;
  margin: 24px;
  text-align: left;
}

.inputs-tittles {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.inputs-vuelos-fechas {
  border: 1px solid #979797;
  border-right: none;
  border-top: 0px;
  border-left: none;
}

.inputs-vuelos-fechas::placeholder {
  color: #323237;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  margin: 0 10px;
  width: 219px;
  height: 32px;
}

.recuadro-intercambio {
  width: 44px;
  height: 41px;
  border: 1px solid #979797;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
}
.recuadro-intercambio > img {
  padding: 6 0 0 10;
  display: block;
}

/* Cards acceso directo */

.acceso-cards {
  height: 152px;
  display: inline-block;
  margin-right: 26px;
}

.acceso-cards:nth-child(4),
.acceso-cards:nth-child(6) {
  margin-left: 26px;
}

.cards-acceso-header {
  height: 30px;
  display: inline-flex;
}

.cards-acceso-header > img {
  width: 24px;
  height: 19.2px;
  margin: 4 0 0 11;
}

.cards-acceso-header > p {
  font-weight: 700;
  font-size: 18px;
  margin-top: 0px;
  margin-left: 16px;
}

.cards-acceso-logo {
  width: 61px;
  height: 30px;
}

.cards-acceso-body {
  font-size: 14px;
  line-height: 24px;
  text-align: start;
}

.cards-acceso-body > p {
  width: 237px;
  height: 72px;
  padding-left: 48px;
  font-size: 14px;
}

.cards-acceso-footer {
  width: auto;
  height: 34px;
  margin-bottom: 0px;
  text-align: start;
}

.cards-acceso-footer > a {
  padding-left: 48px;
  color: #96172e;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: underline;
}

.cards-acceso-footer > img {
  margin-left: 15px;
}

.separador {
  width: 1px;
  height: 105px;
  background-color: #d8d8d8;
  display: inline-flex;
}

.container-wianca {
  width: 90%;
  height: 99px;
  text-align: center;
}

.container-wianca > p {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b;
  position: absolute;
  margin-top: 46px;
  margin-left: 5px;
  text-align: left;
}

.container-wianca > img {
  position: absolute;
  text-align: left;
  display: block;
}

.container-wianca > img:nth-child(2) {
  display: inline-block;
  text-align: end;
}

.footer-media-security {
  display: inline-block;
  width: auto;
  padding-left: 80px;
}

.footer-media-security > img {
  width: 71px;
  height: 23px;
}

.footer-media-security > img:nth-child(2) {
  width: 81px;
  height: 33px;
}

.footer-media-security > img:nth-child(3) {
  width: 129px;
  height: 23px;
}

/* CARDS DESTINOS  */

.cards-destinos {
  width: 294px;
  height: 439px;
  margin: 0 40 40 0;
  display: inline-block;
  border: 1px solid #979797;
  border-radius: 2px;
  padding-bottom: 22px;
}

.destinos-imag {
  width: 316px;
  border-radius: 2px;
  padding-bottom: 15px;
}

.container-fromto {
  width: 253px;
  height: 51px;
  display: inline-block;
}

.container-fromto > p {
  display: inline-block;
  padding: 2px;
}

.inicio-trayecto {
  width: 120px;
  height: 51px;
  display: block;
  margin-top: 0px;
  position: absolute;
  text-align: left;
}

.inicio-trayecto > p {
  display: inline-block;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #323237;
  margin-top: 0px;
  margin-bottom: 0px;
}
.inicio-trayecto > p:nth-child(2) {
  display: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  color: #979797;
}

.change-destinos {
  width: 16px;
  height: 22px;
  position: absolute;
  margin-left: 95px;
  z-index: 9999;
}

.intercambio-dest {
  color: #9b9b9b;
}

.destino-trayecto {
  width: 120px;
  height: 51px;
  display: inline-block;
  margin-top: 0px;
  margin-left: 6px;
  position: absolute;
}

.destino-trayecto > p {
  display: inline-block;
  padding-left: 0px;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #323237;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}

.destino-trayecto > p:nth-child(2) {
  display: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  color: #979797;
  width: 120px;
}

.iniciales-1 {
  margin-left: 9px;
}

.iniciales-2 {
  margin-left: 14px;
}

.from {
  width: 71px;
  height: 51px;
  display: inline-block;
  background-color: wheat;
}

.to {
  width: 71px;
  height: 51px;
  display: inline-block;
}

.container-precio {
  height: 88px;
}

.container-precio > p {
  padding-left: 20px;
}

.container-precio > p:nth-child(1) {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #323237;
  text-align: left;
}

.container-precio > p:nth-child(2) {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  margin-top: -16px;
}

.container-precio > p:nth-child(3) {
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  margin: 0px;
}

.moneda-span {
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
}

.mini-detalles {
  min-width: 253px;
  min-height: 17px;
  text-align: left;
  margin-left: 20px;
  margin-top: -24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
}

.mini-detalles > p {
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  display: inline-block;
}

.detalles-avion {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.boton-vuelos {
  width: 253px;
  height: 44px;
  line-height: 30px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 700;
  background-color: #da291c;
  border: none;
  color: #fff;
}

.boton-vuelos:hover {
  background-color: #da473c;
}

/* footer */

.container-menu-footer {
  text-align: center;
  justify-content: space-between;
}

.menu-footer-cards {
  min-width: 280px;
  display: inline-block;
  text-align: start;
}

.li-none-display {
  color: #fafafa;
  width: 220px;
  height: 32px;
}

.titulos-menu-footer {
  font-size: 24px;
  color: #da291c;
  line-height: 30px;
  font-weight: 700;
}

.lista-links-footer {
  font-size: 14px;
  line-height: 32px;
  color: #323237;
}

.lista-links-footer > a:link {
  text-decoration: none;
  color: #323237;
}

.container-media-footer {
  display: inline-flex;
  align-items: center;
}

.titulos-media-footer {
  font-size: 24px;
  color: #da291c;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
}

.footer-media-links {
  font-size: 14px;
  color: #da291c;
  line-height: 32px;
  font-weight: 700;
  display: inline-block;
  padding-right: 80px;
}

.footer-media-links > img {
  width: 20px;
  height: 18px;
  margin-right: 8px;
  padding: 6px;
}

.footer-media-links > a:link {
  text-decoration: none;
  padding: 6px;
}

.footer-media-links-2 {
  display: none;
}

/* Media queries */

@media screen and (min-device-width: 160px) and (max-device-width: 999px) and (-webkit-min-device-pixel-ratio: 1) {
  
  body{
    margin-right: -51px;
  }

  .menu-burger {
    display: inline-flex;
  }

  .navbar {
    overflow: hidden;
  }

  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .dropdown {
    float: right;
    display: inline-flex;
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .navbar a:hover,
  .dropdown:hover .dropbtn {
    background-color: red;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 66px;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* end burger */

  .menu {
    display: none;
  }

  .splash {
    background-image: url(https://aguayotest2022.web.app/images/banner.svg);
    
    z-index: 99999;
    height: 393px;
  }

  .splash > img {
    display: none;
  }

  .container-splash {
    width: 331px;
    height: 169px;
    margin-right: 40px;
    margin-top: 125px;
  }


  .container-splash-caption > p {
    font-weight: 900;
    font-size: 26px;
    line-height: 32px;
    display: block;
    padding-left: 26px;
  }

  .container-splash-caption > p:nth-child(2) {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-top: -20px;
    padding-left: 26px;
    padding-top: 6px;
  }

  .caption-cta {
    display: none;
  }

  .container-splash-caption {
    margin-top: 0px;
  }

  .section-1 {
    width: 320px;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 360px;
    flex-wrap: nowrap;
    align-items: center;
  }

  .container-field {
    height: 480px;

    background-color: #ffffff;
    border: 1px solid #e2e8ee;
  }

  .labels {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    flex-direction: column;
    align-items: center;
    margin-left: 8px;
  }

  form {
    display: inline-flex;
    align-content: center;
    margin-left: 0px;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
  }

  .field-columnas-1 {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-content: center;
  }

  .inputs-containers {
    width: 219px;
    height: 64px;
    display: inline-flex;
    margin: 24px;
    text-align: left;
    flex-wrap: nowrap;
    flex-direction: column;
  }


  .inputs-tittles {
    font-weight: 700;
    font-size: 16px;
    display: inline-flex;
    line-height: 24px;
  }

  .inputs-vuelos-fechas {
    border: 1px solid #979797;
    border-right: none;
    border-top: 0px;
    border-left: none;
  }

  .recuadro-intercambio {
    width: 44px;
    height: 41px;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .recuadro-intercambio-2 {
    background-color: red;
  }

  .inputs-tittles {
    font-weight: 700;
    font-size: 16px;
    display: inline-flex;
    line-height: 24px;
    margin-top: 0px;
  }

  .inputs-vuelos-fechas {
    border: 1px solid #979797;
    border-right: none;
    border-top: 0px;
    border-left: none;
    padding: 14px;
  }

  .inputs-vuelos-fechas::placeholder {
    height: 30px;
  }

  .inputs-vuelos-fechas::datetime-local {
    height: 32px;
  }

  .field-columnas-1 {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-content: center;
  }

  .field-columnas-2 {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .boton-cta-compra {
    display: flex;
    justify-content: center;
    padding-left: 80px;
  }

  .lista-links-footer {
    padding-left: 0px;
  }

  .container-field {
    height: 480px;
    margin-left: 11px;
    background-color: #ffffff;
    border: 1px solid #e2e8ee;
  }

  .section-2 {
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 0px;
    flex-wrap: nowrap;
    align-items: center;
  }

  .section-2 {
    width: 100%;
  }

  .container-recomendaciones {
    width: 90%;
    padding-bottom: 56px;
    text-align: center;
    flex-direction: column;
    margin-bottom: 20px;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 260px;
  }

  h2 {
    font-size: 36px;
    text-align: center;
    color: #323237;
    line-height: 40px;
  }

  .container-cards {
    height: 439px;
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    display: inline-flex;
    height: 100vh;
    flex-direction: column;
    margin-bottom: 0px;
    flex-wrap: nowrap;
    align-items: center;
  }

  .section-3 {
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 0px;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
  }

  .container-acceso {
    width: 90%;
    margin-top: 500px;
    /* height: 408px; */
    text-align: center;
    display: inline-flex;
    height: 100vh;
    flex-direction: column;
    margin-bottom: 0px;
    flex-wrap: nowrap;
    align-items: center;
  }

  .separador {
    display: none;
  }

  .container-cuenta > h2{
    margin-top: 100px;
  }

  h2 {
    font-size: 36px;
    text-align: center;
    color: #323237;
    line-height: 40px;
  }

  .acceso-cards {
    height: 152px;
    display: inline-block;
    margin-top: 64px;
    margin-right: 26px;
  }

  .cards-acceso-header {
    height: 30px;
    display: inline-flex;
  }

  .cards-acceso-body {
    font-size: 14px;
    line-height: 24px;
    text-align: start;
  }

  .cards-acceso-footer {
    width: auto;
    height: 34px;
    margin-bottom: 0px;
    text-align: start;
  }

  .cards-acceso-header {
    height: 30px;
    display: inline-flex;
  }

  .section-4 {
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 92px;
    flex-wrap: nowrap;
    align-items: center;
  }

  .container-cuenta {
    width: 90%;
    height: auto;
    margin-bottom: 0px;
    text-align: center;
    display: inline-flex;
    height: 100vh;
    flex-direction: column;
    margin-top: 218px;
    margin-bottom: 0px;
    flex-wrap: nowrap;
    align-items: center;
  }

  .cuenta-recuadros {
    width: 320px;
    /* min-height: 218px; */
    display: inline-flex;
    border: 1px solid #e2e8ee;
    border-radius: 3px;
    text-align: left;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .cuenta-recuadros > h3 {
    padding: 32 32;
    text-align: start;
    width: 256px;
  }

  .cuenta-recuadros > p {
    padding-left: 32px;
    padding-right: 42px;
    font-weight: 400;
    width: 256px;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
  }

  .vr {
    display: none;
  }

  .cuenta-recuadros {

    display: inline-flex;
    border: 1px solid #e2e8ee;
    border-radius: 3px;
    text-align: left;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 32px;
  }

  .cuenta-recuadros:nth-child(2) {
    margin-right: 0px;
    margin-bottom: 32px;
  }

  .cuenta-recuadro-grande > h3 {
    width: 256px;
    font-size: 22px;
    padding: 32 0 0 32;
    display: inline-flex;

    text-align: start;
    line-height: 30px;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .cuenta-recuadro-grande > p {
    padding: 32px;
    text-align: left;
    width: 256px;
  }

  .cuenta-recuadro-grande {
    width: 320px;
    min-width: none;
    min-height: none;
    line-height: 24px;
    display: inline-flex;
    border: 1px solid #e2e8ee;
    border-radius: 3px;
    margin-bottom: 127px;
    text-align: left;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
  }

  .container-cuenta {
    width: 90%;
    height: auto;
    margin-bottom: 0px;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    margin-top: 218px;
    margin-bottom: 0px;
    flex-wrap: nowrap;
    align-items: center;
  }

  .cards-destinos {
    margin: 0 40 70 0;
    padding-bottom: 84px;
  }

  .footer-media-links {
    display: none;
  }

  .container-media-footer {
    display: block;
    align-items: center;
  }

  .footer-media-links-2 {
    width: 280px;
    text-align: left;
    font-size: 14px;
    color: #da291c;
    line-height: 32px;
    font-weight: 700;
    display: inline-block;
  }

  .links2 {
    width: 18px;
    height: 18px;
    padding-right: 32px;
  }

  .footer-media-security {
    display: inline-block;
    width: auto;
    padding-left: 8px;
  }

  .container-wianca > img:nth-child(2) {
    display: inline-block;
    text-align: end;
    margin-left: -38px;
  }

  .container-menu-footer {
    width: 90%;
    text-align: center;
    justify-content: space-between;
  }

  .titulos-media-footer {
    padding-left: 22px;
  }

  .field >h1{
    margin-left: 80px;
  }

}



/*Media queries parte 2 */

@media screen and (min-device-width: 300px) and (max-device-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
.container-acceso > h2 {
  margin-top: 480px;
}

}

@media screen and (min-device-width: 375px) and (max-device-width: 420px) and (-webkit-min-device-pixel-ratio: 2) {
  
  body{
    margin-right: -51px;
  }

  .menu-burger {
    display: inline-flex;
  }

  .navbar {
    overflow: hidden;
  }

  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .dropdown {
    float: right;
    display: inline-flex;
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .navbar a:hover,
  .dropdown:hover .dropbtn {
    background-color: red;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 66px;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* end burger */

  .menu {
    display: none;
  }

  .splash {
    background-image: url(https://aguayotest2022.web.app/images/banner.svg);
    
    z-index: 99999;
    height: 393px;
  }

  .splash > img {
    display: none;
  }

  .container-splash {
    width: 331px;
    height: 169px;
    margin-right: 40px;
    margin-top: 125px;
  }


  .container-splash-caption > p {
    font-weight: 900;
    font-size: 26px;
    line-height: 32px;
    display: block;
    padding-left: 26px;
  }

  .container-splash-caption > p:nth-child(2) {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-top: -20px;
    padding-left: 26px;
    padding-top: 6px;
  }

  .caption-cta {
    display: none;
  }

  .container-splash-caption {
    margin-top: 0px;
  }

  .section-1 {
    width: 320px;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 360px;
    flex-wrap: nowrap;
    align-items: center;
  }

  .container-field {
    height: 480px;

    background-color: #ffffff;
    border: 1px solid #e2e8ee;
  }

  .labels {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    flex-direction: column;
    align-items: center;
    margin-left: 8px;
  }

  form {
    display: inline-flex;
    align-content: center;
    margin-left: 0px;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
  }

  .field-columnas-1 {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-content: center;
  }

  .inputs-containers {
    width: 219px;
    height: 64px;
    display: inline-flex;
    margin: 24px;
    text-align: left;
    flex-wrap: nowrap;
    flex-direction: column;
  }


  .inputs-tittles {
    font-weight: 700;
    font-size: 16px;
    display: inline-flex;
    line-height: 24px;
  }

  .inputs-vuelos-fechas {
    border: 1px solid #979797;
    border-right: none;
    border-top: 0px;
    border-left: none;
  }

  .recuadro-intercambio {
    width: 44px;
    height: 41px;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .recuadro-intercambio-2 {
    background-color: red;
  }

  .inputs-tittles {
    font-weight: 700;
    font-size: 16px;
    display: inline-flex;
    line-height: 24px;
    margin-top: 0px;
  }

  .inputs-vuelos-fechas {
    border: 1px solid #979797;
    border-right: none;
    border-top: 0px;
    border-left: none;
    padding: 14px;
  }

  .inputs-vuelos-fechas::placeholder {
    height: 30px;
  }

  .inputs-vuelos-fechas::datetime-local {
    height: 32px;
  }

  .field-columnas-1 {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-content: center;
  }

  .field-columnas-2 {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .boton-cta-compra {
    display: flex;
    justify-content: center;
    padding-left: 80px;
  }

  .lista-links-footer {
    padding-left: 0px;
  }

  .container-field {
    height: 480px;
    margin-left: 11px;
    background-color: #ffffff;
    border: 1px solid #e2e8ee;
  }

  .section-2 {
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 0px;
    flex-wrap: nowrap;
    align-items: center;
  }

  .section-2 {
    width: 100%;
  }

  .container-recomendaciones {
    width: 90%;
    padding-bottom: 56px;
    text-align: center;
    flex-direction: column;
    margin-bottom: 20px;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 260px;
  }

  h2 {
    font-size: 36px;
    text-align: center;
    color: #323237;
    line-height: 40px;
  }

  .container-cards {
    height: 439px;
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    display: inline-flex;
    height: 100vh;
    flex-direction: column;
    margin-bottom: 0px;
    flex-wrap: nowrap;
    align-items: center;
  }

  .section-3 {
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 0px;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
  }

  .container-acceso {
    width: 90%;
    margin-top: 500px;
    /* height: 408px; */
    text-align: center;
    display: inline-flex;
    height: 100vh;
    flex-direction: column;
    margin-bottom: 0px;
    flex-wrap: nowrap;
    align-items: center;
  }

  .separador {
    display: none;
  }

  h2 {
    font-size: 36px;
    text-align: center;
    color: #323237;
    line-height: 40px;
  }

  .acceso-cards {
    height: 152px;
    display: inline-block;
    margin-top: 64px;
    margin-right: 26px;
  }

  .cards-acceso-header {
    height: 30px;
    display: inline-flex;
  }

  .cards-acceso-body {
    font-size: 14px;
    line-height: 24px;
    text-align: start;
  }

  .cards-acceso-footer {
    width: auto;
    height: 34px;
    margin-bottom: 0px;
    text-align: start;
  }

  .cards-acceso-header {
    height: 30px;
    display: inline-flex;
  }

  .section-4 {
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 92px;
    flex-wrap: nowrap;
    align-items: center;
  }

  .container-cuenta {
    width: 90%;
    height: auto;
    margin-bottom: 0px;
    text-align: center;
    display: inline-flex;
    height: 100vh;
    flex-direction: column;
    margin-top: 218px;
    margin-bottom: 0px;
    flex-wrap: nowrap;
    align-items: center;
  }

  .container-cuenta > h2{
    margin-top: 180px;
  }


  .container-acceso > h2 {
    margin-top: 480px;
  }

  .cuenta-recuadros {
    width: 320px;
    /* min-height: 218px; */
    display: inline-flex;
    border: 1px solid #e2e8ee;
    border-radius: 3px;
    text-align: left;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .cuenta-recuadros > h3 {
    padding: 32 32;
    text-align: start;
    width: 256px;
  }

  .cuenta-recuadros > p {
    padding-left: 32px;
    padding-right: 42px;
    font-weight: 400;
    width: 256px;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
  }

  .vr {
    display: none;
  }

  .cuenta-recuadros {

    display: inline-flex;
    border: 1px solid #e2e8ee;
    border-radius: 3px;
    text-align: left;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 32px;
  }

  .cuenta-recuadros:nth-child(2) {
    margin-right: 0px;
    margin-bottom: 32px;
  }

  .cuenta-recuadro-grande > h3 {
    width: 256px;
    font-size: 22px;
    padding: 32 0 0 32;
    display: inline-flex;

    text-align: start;
    line-height: 30px;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .cuenta-recuadro-grande > p {
    padding: 32px;
    text-align: left;
    width: 256px;
  }

  .cuenta-recuadro-grande {
    width: 320px;
    min-width: none;
    min-height: none;
    line-height: 24px;
    display: inline-flex;
    border: 1px solid #e2e8ee;
    border-radius: 3px;
    margin-bottom: 127px;
    text-align: left;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
  }

  .container-cuenta {
    width: 90%;
    height: auto;
    margin-bottom: 0px;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    margin-top: 218px;
    margin-bottom: 0px;
    flex-wrap: nowrap;
    align-items: center;
  }

  .cards-destinos {
    margin: 0 40 70 0;
    padding-bottom: 84px;
  }

  .footer-media-links {
    display: none;
  }

  .container-media-footer {
    display: block;
    align-items: center;
  }

  .footer-media-links-2 {
    width: 280px;
    text-align: left;
    font-size: 14px;
    color: #da291c;
    line-height: 32px;
    font-weight: 700;
    display: inline-block;
  }

  .links2 {
    width: 18px;
    height: 18px;
    padding-right: 32px;
  }

  .footer-media-security {
    display: inline-block;
    width: auto;
    padding-left: 8px;
  }

  .container-wianca > img:nth-child(2) {
    display: inline-block;
    text-align: end;
    margin-left: -38px;
  }

  .container-menu-footer {
    width: 90%;
    text-align: center;
    justify-content: space-between;
  }

  .titulos-media-footer {
    padding-left: 22px;
  }

  .field >h1{
    margin-left: 80px;
  }

}

